{% layout "main" %}

<div class="flex flex-wrap flex-col w-full max-w-3xl mx-auto p-4 pb-8 pt-0">
    <div class="w-full mb-6 text-center">
        <h1 class="text-primary text-3xl mt-3">{{ page.seo.heading | default(page.name) }}</h1>
    </div>
    <div class="relative rounded-lg shadow-lg lg:shadow-none w-full overflow-hidden p-6 bg-white border border-grey-light">
        {{ page.content | raw }}
    </div>
</div>
