/* Start of Globals */

// @tailwind preflight;
// @tailwind components;
// @tailwind utilities;

@import './fonts';
@import './variables';

* {
    // border: 1px solid red; // for testing
    @include sans();
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::selection {
        color: default;
        background-color: default;
    }

    body {
        @include flex(0, space-between, column);
        min-height: 100vh;
        background: $white;

        &.no-scroll {
            overflow-y: hidden;
        }

        .content {
            a:not(.button) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .accordion {
            .panel {
                display: none;
            }

            &.active {
                .panel {
                    display: block
                }
            }
        }

        button, a.button {
            display: block;
        }
    }

    a {
        display: inline-block;
        height: fit-content;
        width: fit-content;
        text-decoration: none;
    }

    hr {
        border: none;
        height: 1px;
        background: $black;
    }

    picture {
        font-size: 0;
        line-height: 0;
        height: fit-content;
        width: fit-content;

        ::selection {
            background: none;
        }

        img {
            display: block;
        }
    }
}

@import './animations';
@import './partials/footer';

/* End of Globals */
